# Created by .ignore support plugin (hsz.mobi)
### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
.mvn
configClient/src/main/resources/static/
configClient/src/main/resources/templates/
configServerGit/src/main/resources/static/
configServerGit/src/main/resources/templates/
consulConsumer/src/main/resources/static/
consulConsumer/src/main/resources/templates/
eurekaClient/src/main/resources/static/
eurekaClient/src/main/resources/templates/
eurekaConsumer/src/main/resources/static/
eurekaConsumer/src/main/resources/templates/
eurekaConsumerFeign/src/main/resources/static/
eurekaConsumerFeign/src/main/resources/templates/
eurekaConsumerRibbon/src/main/resources/static/
eurekaConsumerRibbon/src/main/resources/templates/
eurekaConsumerRibbonHystrix/src/main/resources/static/
eurekaConsumerRibbonHystrix/src/main/resources/templates/
